.root {
  @apply w-full flex flex-col items-center justify-center mt-40;

  .selectWrapper {
    @apply flex bg-[#d9d9d9] bg-opacity-5 rounded-md;
    .item {
      @apply font-space-grotesk font-medium text-base py-3 w-32 text-center cursor-pointer;
    }
    .active {
      @apply rounded-md;
      background: linear-gradient(93.42deg, #FDC401 0%, #FF8D07 53.12%, #FF640A 100%);
    }
  }

  .serviceWrapper {
    @apply flex gap-12 w-[80%] items-start justify-center mt-12;

    .item {
      @apply pt-24 pb-10 rounded-[20px] flex flex-col;
      background: linear-gradient(156.52deg, rgba(255, 255, 255, 0.195) 0%, rgba(255, 255, 255, 0.0325) 100%);
      backdrop-filter: blur(12.5px);
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
    .active {
      @apply border-2 border-solid border-transparent scale-[1.1];    
      background:
      linear-gradient(156.52deg, #da6622 0%, #7c177d 100%) padding-box, linear-gradient(180deg, #FDC202 0%, #FF8F07 52.08%, #FF6A0A 100%) border-box;
    }
  }
  .buyNow {
    @apply py-4 rounded-md w-48 m-auto mt-10 text-center font-space-grotesk font-bold text-xl cursor-pointer;
    background: linear-gradient(93.42deg, #FDC401 0%, #FF8D07 53.12%, #FF640A 100%);
    &:hover {
      background: linear-gradient(93.42deg, #FDC401 0%, #FF8D07 73.12%, #FF640A 100%);
    }
  }
}
