.root {
  @apply w-full flex flex-col items-center justify-center mt-10;

  .selectWrapper {
    @apply flex bg-[#d9d9d9] bg-opacity-5 rounded-md mb-4;
    .item {
      @apply font-space-grotesk font-medium text-base py-3 w-32 text-center cursor-pointer;
    }
    .active {
      @apply rounded-md;
      background: linear-gradient(
        93.42deg,
        #fdc401 0%,
        #ff8d07 53.12%,
        #ff640a 100%
      );
    }
  }

  .serviceWrapper {
    @apply flex gap-12 w-[80%] items-start justify-center mt-12;
    /* backdrop-filter: blur(12.5px); */

    .item {
      @apply pt-4 pb-5 rounded-[20px] flex flex-col;
      /* background: linear-gradient(156.52deg, rgba(255, 255, 255, 0.195) 0%, rgba(255, 255, 255, 0.0325) 93%), linear-gradient(to bottom, rgba(0,0,0,0) 93%, rgba(249, 249, 249, 0.89) 100%); */
      background: linear-gradient(
        156.52deg,
        rgba(255, 255, 255, 0.195) 0%,
        rgba(255, 255, 255, 0.0325) 100%
      );

      backdrop-filter: blur(12.5px);
      transition: transform 0.5s;
      transform: scale(0.9);
      &:hover {
        transform: scale(1);
      }
    }
    .active {
      @apply border-2 border-solid border-transparent scale-[1];
      /* background: linear-gradient(156.52deg, #491529 0%, #110612 100%)
          padding-box,
        linear-gradient(180deg, #fdc202 0%, #ff8f07 52.08%, #ff6a0a 100%)
          border-box; */

      background: linear-gradient(156.52deg, #503629 0%, #362837 100%)
          padding-box,
        linear-gradient(180deg, #fdc202 0%, #ff8f07 52.08%, #ff6a0a 100%)
          border-box;
      /* background:
      linear-gradient(to bottom, rgba(0,0,0,0) 93%, rgba(249, 249, 249, 0.89) 100%) padding-box, linear-gradient(156.52deg, #9d582f 0%, #721111 93%) border-box; */
    }
  }
  .buyNow {
    @apply py-4 rounded-md w-48 m-auto mt-10 text-center font-space-grotesk font-bold text-xl cursor-pointer;
    background: linear-gradient(
      93.42deg,
      #fdc401 0%,
      #ff8d07 53.12%,
      #ff640a 100%
    );
    &:hover {
      background: linear-gradient(
        93.42deg,
        #fdc401 0%,
        #ff8d07 73.12%,
        #ff640a 100%
      );
    }
  }
}
